body {
  cursor: none !important;
}
button {
  cursor: none !important;
}
a{
  cursor: none !important;
}
  /* Custom Cursor */
  .cursor-dot,
  .cursor-dot-outline {
    z-index: 999;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #feac43;
  }
  .cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgba(254, 172, 67, 0.5);
  }